%td= item.artist
%td= item.title[0...50]
%td
  -if item.downloaded?
    %span.badge.badge-success= 'downloaded'
%td
  - unless item.in_playlist?
    = form_tag(add_to_playlist_path(item), remote:true) do |form|
      = submit_tag 'add to playlist', class:"btn"