%h1 Listing songs

= form_tag(find_songs_path) do |form|
  = search_field_tag 'find_query'
  = submit_tag 'find'

%table
  %tr
    %th Artist
    %th Title
    %th Downloaded
    %th
    
  - @songs.each do |song|
    %tr
      %td= link_to song.artist, song
      %td= link_to song.title, song
      %td= song.downloaded? ? "yes" : ""
      %td
        - unless song.in_playlist?
          = form_tag(add_to_playlist_path(song), remote:true) do |form|
            = submit_tag 'add to playlist'
