%h1 Listing songs

%table
  %tr
    %th Artist
    %th Title
    %th Url
    %th Filename
    %th
    %th
    %th

  - @songs.each do |song|
    %tr
      %td= song.artist
      %td= song.title
      %td= song.url
      %td= song.filename
      %td= link_to 'Show', song
      %td= link_to 'Edit', edit_song_path(song)
      %td= link_to 'Destroy', song, :data => { :confirm => 'Are you sure?' }, :method => :delete

%br

= link_to 'New Song', new_song_path

%form{action:find_songs_path, method:"POST"}
  %input{type:'text', name:'find_query'}
  %input{type:'submit', value:'find'}

- unless @finded_songs.nil?
  %h2 finded songs
  %table
    %thead
      %th Artist
      %th Title
      %th Url
    - @finded_songs.each do |song|
      %tr
        %td= song.artist
        %td= song.title
        %td= song.url
        %td
          = form_tag(download_song_path(song), remote:true) do |form|
            = submit_tag 'Download'

