%h1 Listing songs

%form{action:find_songs_path, method:"POST"}
  %input{type:'text', name:'find_query'}
  %input{type:'submit', value:'find'}

%table
  %tr
    %th Artist
    %th Title
    %th Downloaded
    %th
    
  - @songs.each do |song|
    %tr
      %td= link_to song.artist, song
      %td= link_to song.title, song
      %td= song.downloaded? ? "yes" : ""
      %td
        - unless song.in_playlist?
          = form_tag(add_to_playlist_path(song), remote:true) do |form|
            = submit_tag 'add to playlist'
