%p#notice= notice

%p
  %b Artist:
  = @song.artist
%p
  %b Title:
  = @song.title
%p
  %b Url:
  = @song.url
%p
  %b Filename:
  = @song.filename

= link_to 'Edit', edit_song_path(@song)
\|
= link_to 'Back', songs_path
