%p#notice= notice

%p
  %b Artist:
  = @song.artist
%p
  %b Title:
  = @song.title
%p
  %b Url:
  = @song.url
%p
  %b Filename:
  = @song.filename

%form{action:play_song_path(@song)}
  %input{type:'submit', value:'play'}

%form{action:stop_song_path(@song)}
  %input{type:'submit', value:'stop'}

= link_to 'Edit', edit_song_path(@song)
\|
= link_to 'Back', songs_path
