= form_for song_item, url:add_to_playlist_path, remote:true, html:{class:"song_form"} do |f|
  = f.hidden_field :artist
  = f.hidden_field :title
  = f.hidden_field :url
  - unless song_item.id.nil?
    = f.hidden_field :id
  - else
    = f.hidden_field :id, value:"${id}"
  = f.submit 'add to playlist', class:"btn add_to_playlist pull-right"
  .song_data
    %span.artist= "#{song_item.artist}"
    %span= " - "
    %span.title= "#{song_item.title}"
