%script#songTemplate{type:"text/x-jquery-tmpl"}
  = render partial: "song_item", object: Song.new(artist:"${artist}", title:"${title}", url:"${url}")
%script#playlistItemTemplate{type:"text/x-jquery-tmpl"}
  - playlist_item = PlaylistItem.new
  - playlist_item.song = Song.new(artist:"${song.artist}", title:"${song.title}")
  = render partial: "playlist_item", object: playlist_item
= render partial: "controls"
.container-fluid
  .row-fluid
    .span4
      = render partial: "playlist"
    .span8
      = render partial: "songs"