%h1 Listing playlist_items

= form_tag(playlist_stop_path, remote:true) do |form|
  = submit_tag 'stop'

= form_tag(playlist_skip_path, remote:true) do |form|
  = submit_tag 'skip'

%table
  %tr
    %th artist
    %th title
    
  - @playlist_items.each do |playlist_item|
    %tr
      %td= playlist_item.song.artist
      %td= playlist_item.song.title
    
