!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Jukebox"
    %meta{:content => "Server-side audio player", :name => "description"}
    %meta{:content => "De1mos", :name => "author"}
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    = yield(:head)
  %body
    %header.navbar.navbar-fixed-top
      .navbar
        .navbar-inner
          = render 'layouts/navigation'
          %ul.nav.navbar-nav
            - if user_signed_in?
              %li= link_to current_user.username, current_user.url
              - if current_user.room_admin?
                %li= link_to "Rooms", rooms_path
              %li= link_to "Sign out", destroy_user_session_path, :method => :delete
            - else
              %li= link_to "Sign in with Vkontakte", user_omniauth_authorize_path(:vkontakte)
    #main{:role => "main"}
      .container
        .content
          .row-fluid
            .span12
              = render 'layouts/messages'
              = yield
    %footer &copy De1mos 2012-2013
    = javascript_include_tag "application"
    